<header class="content__title">
    <h1>Данни за всички картодържатели</h1>
</header>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Всички картодържатели</h4>
<!--        <h6 class="card-subtitle">DataTables is a plug-in for the jQuery Javascript library. It is a highly flexible-->
<!--            tool, based upon the foundations of progressive enhancement, and will add advanced interaction controls to-->
<!--            any HTML table.</h6>-->

        <div class="table-responsive data-table">
            <table id="data-table" class="table">
                <thead>
                <tr>
                    <th>Дата и час на създаване/промяна</th>
                    <th>Име</th>
                    <th>Фамилия</th>
                    <th>Имейл</th>
                    <th>Телефон</th>
                    <th>Тип</th>
                    <th>By</th>
                    <th>Действие</th>
                </tr>
                </thead>
                <tbody>
                {{#each members}}
                    <tr>
                        <td>{{dateFixed createdAt}} от {{createdBy.username}}<br>{{dateFixed updatedAt}}
                            от {{editedBy.username}}</td>
                        <td>{{firstName}}</td>
                        <td>{{lastName}}</td>
                        <td>{{email}}</td>
                        <td>{{phone}}</td>
                        <td>{{type}}</td>
                        <td>{{createdBy.username}}</td>
                        <td>
                            <a href="/member/details/{{_id}}" class="btn btn-primary">Виж повече</a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
