<div class="container">
    <h1 class="my-4">Справка за: {{member.firstName}} {{member.lastName}}</h1>
    <div class="row d-flex">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Детайли за картодържателя</h5>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Име</span>
                        </div>
                        <label for="firstName"></label>
                        <input type="text" class="form-control" id="firstName" aria-describedby="basic-addon3" disabled
                               value="{{member.firstName}}">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Фамилия</span>
                        </div>
                        <label for="lastName"></label>
                        <input type="text" class="form-control" id="lastName" aria-describedby="basic-addon3" disabled
                               value="{{member.lastName}}">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Телефон</span>
                        </div>
                        <label for="phone"></label>
                        <input type="text" class="form-control" id="phone" aria-describedby="basic-addon3" disabled
                               value="{{member.phone}}">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Имейл</span>
                        </div>
                        <label for="email"></label>
                        <input type="text" class="form-control" id="email" aria-describedby="basic-addon3" disabled
                               value="{{member.email}}">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="type">Тип</span>
                        </div>
                        <label for="type"></label>
                        <input type="text" class="form-control" id="type" aria-describedby="basic-addon3" disabled
                               value="{{member.type}}">
                    </div>
                    <button type="button" class="btn btn-warning" data-toggle="modal"
                            data-target="#customerEdit" id="customerEditButton">
                        Промени
                    </button>
                    <button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#deleteMember" id="deleteMemberButton">
                        Изтрии
                    </button>
                    <br>
                    <br>
                    <small class="float-left">Създадена: {{dateFixed member.createdAt}}от {{member.createdBy.username}}
                        <br>
                        Редактирана: {{dateFixed member.updatedAt}} от: {{member.editedBy.username}}</small>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="card ml-auto">
                <div class="card-body">
                    <h5 class="card-title">Детайли за карта</h5>
                    {{#if card}}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Име</span>
                            </div>
                            <label for="cardName"></label>
                            <input type="text" class="form-control" id="cardName" aria-describedby="basic-addon3"
                                   disabled value="{{card.cardName}}">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Сериен №</span>
                            </div>
                            <label for="serialNumber"></label>
                            <input type="text" class="form-control" id="serialNumber" aria-describedby="basic-addon3"
                                   disabled value="{{card.serialNumber}}">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Създадена на</span>
                            </div>
                            <label for="createdAt"></label>
                            <input type="text" class="form-control" id="createdAt" aria-describedby="basic-addon3"
                                   disabled value="{{dateFixed card.createdAt}}">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="status">Входове</span>
                            </div>
                            <label for="status"></label>
                            <input type="text" class="form-control" id="status" aria-describedby="basic-addon3" disabled
                                   value="{{member.totalEntries}}">
                        </div>

                        <button class="btn btn-primary" data-toggle="modal"
                                data-target="#viewMemberCards" id="viewMemberCardsButton">
                            Карти
                        </button>
                        <button type="button" class="btn btn-success" data-toggle="modal"
                                data-target="#createRecharge" id="createRechargeButton">
                            Презареди
                        </button>
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                data-target="#archiveCard" id="archiveCardButton">
                            Архивиране
                        </button>
                        <br><br>
                        <small class="float-left">Създадена: {{dateFixed member.createdAt}}
                            от {{member.createdBy.username}}<br>
                            Редактирана: {{dateFixed member.updatedAt}} от: {{member.editedBy.username}}
                        </small>
                    {{else}}
                        <form class="text-center border border-light p-5" action="/member/add-card/{{member._id}}"
                              method="post">
                            <h1>Add card</h1>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">Card Number</span>
                                </div>
                                <label for="basic-url"></label><select class="form-control" id="basic-url"
                                                                       name="serialNumber"
                                                                       aria-describedby="basic-addon3">
                                <option value="#" selected>Избери карта ID:</option>
                                {{#each cards}}
                                    <option value="{{this._id}}">{{this.serialNumber}} - {{dateFixed
                                            this.createdAt}}</option>
                                {{/each}}
                            </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <p>Последни влизания</p>
    <div class="Timeline">
        <div class="now">
            <button type="button" class="btn btn-info" data-toggle="modal"
                    data-target="#viewEntries" id="viewEntriesButton">
                Предишни
            </button>
        </div>
        {{#each entries}}
            <svg height="5" width="200">
                <line x1="0" y1="0" x2="200" y2="0" style="stroke:#004165;stroke-width:5"/>
                Sorry, your browser does not support inline SVG.
            </svg>
            <div class="event1">
                <div class="event{{#odd @index}}{{/odd}}Bubble">
                    <div class="eventTime">
                        <div class="DayDigit">{{day createdAt}}</div>
                        <div class="Day">
                            {{week createdAt}}
                            <div class="MonthYear">{{monthYear createdAt}}</div>
                        </div>
                    </div>
                    <div class="eventTitle">{{time createdAt}}</div>
                </div>
                <svg height="20" width="20">
                    <circle cx="10" cy="11" r="5" fill="#004165"/>
                </svg>
            </div>
        {{/each}}
    </div>
    <hr>
    <p>Последни презареждания</p>
    <div class="table-responsive data-table">
        <table id="data-table" class="table">
            <thead>
            <tr class="">
                <th colspan="3" class="text-center">Валидност</th>
                <th colspan="2" class="text-center">Създадена</th>
                <th colspan="2" class="text-center">Променена</th>
                <th colspan="1" class="text-center"></th>
            </tr>
            <tr>
                <th class="text-center">От</th>
                <th class="text-center">До</th>
                <th class="text-center">Месеци</th>
                <th class="text-center">от</th>
                <th class="text-center">на</th>
                <th class="text-center">от</th>
                <th class="text-center">на</th>
                <th class="text-center">Действие</th>
            </tr>
            </thead>
            <tbody>
            {{#each member.recharge}}
                <tr>
                    <td>{{dayMonthYear from}}</td>
                    <td>{{dayMonthYear to}}</td>
                    <td>{{months}}</td>
                    <td>{{createdBy.username}}</td>
                    <td>{{dateFixed createdAt}}</td>
                    <td>{{createdBy.username}}</td>
                    <td>{{dateFixed createdAt}}</td>
                    <td>
                        <input type="hidden" value="{{_id}}">
                        <input type="hidden" value="{{from}}">
                        <input type="hidden" value="{{months}}">
                        <button type="button" class="btn btn-warning" data-toggle="modal"
                                data-target="#editRecharge"
                                id="editRechargeButton" onclick="setID(this,'e')">
                            Промени
                        </button>
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                data-target="#deleteRecharge"
                                id="deleteRechargeButton" onclick="setID(this,'d')">
                            Изтрии
                        </button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal new Recharge-->
{{>modal-recharge-new}}
<!-- Modal edit Recharge-->
{{>modal-recharge-edit}}
<!-- Modal delete Recharge-->
{{>modal-recharge-delete}}
<!-- Modal view Member Cards-->
{{>modal-customer-card-all}}
<!-- Modal archive Member Cards-->
{{>modal-customer-card-archive}}
<!-- Modal archive Member Cards-->
{{>modal-customer-delete}}
<!-- Modal archive Member Cards-->
{{>modal-customer-edit}}
<!-- Modal archive Member Cards-->
{{>modal-customer-card-entries}}

<script>
    // $('#createRechargeButton')[0].click();
</script>
<script type="text/javascript">
    function setID(tableRow, a) {
        // const options = { weekday: 'shot', year: 'numeric', month: 'numeric', day: 'numeric' };
        const id = tableRow.parentNode.firstElementChild.value
        const date = tableRow.parentNode.children[1].value
        const mounts = tableRow.parentNode.children[2].value

        let action = a === 'e' ? "#editRecharge" : "#deleteRecharge"
        let path = a === 'e' ? "editr" : "deleter"
        let form = document.querySelector(`${action} > div > div > div.modal-body > form`);
        let dateFiled = document.querySelector("#date-edit");
        let monthsFiled = document.querySelector("#months-edit");

        form.setAttribute('action', `/recharge/${path}/${id}`);
        dateFiled.setAttribute('value', new Date(date).toLocaleDateString("bg-BG"))
        monthsFiled.setAttribute('value', mounts)

    }
</script>

