<!--<div class="jumbotron jumbotron-fluid">-->
<!--    <div class="container">-->
<!--        <h1 class="display-4">Card holders</h1>-->
<!--        <p class="lead">Card holders</p>-->
<!--    </div>-->
<!--</div>-->

<!--<div>-->
<!--    <h1 class="text-center">Последни 5 потребителя</h1>-->
<!--    <div class="container mt-3">-->
        <!--        {{#if members}}-->
<!--            <div class="row d-flex justify-content-center">-->
<!--                <div class="card-deck">-->
        <!--                    {{#each members}}-->
<!--                        <div class="card mb-4">-->
<!--                            <div class="card-body">-->
<!--                                <h4 class="card-title">{{firstName}}</h4>-->
<!--                                <a href="/member/details/{{_id}}"><button type="button" class="btn btn-primary">Details</button></a>-->
<!--                            </div>-->
<!--                        </div>-->
        <!--                    {{/each}}-->
<!--                </div>-->
<!--            </div>-->
        <!--        {{else}}-->
<!--            <h4 class="text-center">Няма потребители...</h4>-->
        <!--        {{/if}}-->
<!--    </div>-->
<!--</div>-->
<!--<div>-->
<!--    <h1 class="text-center">Последни 5 карти</h1>-->
<!--    <div class="container mt-3">-->
        <!--        {{#if cards}}-->
<!--            <div class="row d-flex justify-content-center">-->
<!--                <div class="card-deck">-->
        <!--                    {{#each cards}}-->
<!--                        <div class="card mb-4">-->
<!--                            <div class="card-body">-->
<!--                                <h4 class="card-title">{{serialNumber}}</h4>-->
<!--&lt;!&ndash;                                <a href="/member/details/{{_id}}"><button type="button" class="btn btn-primary">Details</button></a>&ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
        <!--                    {{/each}}-->
<!--                </div>-->
<!--            </div>-->
        <!--        {{else}}-->
<!--            <h4 class="text-center">Няма карти...</h4>-->
        <!--        {{/if}}-->
<!--    </div>-->
<!--</div>-->


